$accent-primary: #5cf986;
$accent-secondary: #005718;
$text-color: #212121;

$bg-primary: white;
$bg-secondary: #e2e2e2;

$shadow-grey: lightgrey;

$title-font: 'Lato', sans-serif;

$ui-font: 'Lato', sans-serif;
$ui-font-weight: 300;

$text-font: 'Noto Serif', serif;

$code-font: 'IBM Plex Mono', monospace;

